<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit ex possimus reiciendis sapiente deleniti eligendi dolor, maxime blanditiis sit omnis excepturi ut atque, dolore tempora voluptas, eveniet facere dicta?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tenetur voluptatem culpa minus, veritatis laudantium accusamus doloribus corrupti, quod assumenda libero ullam hic sunt dignissimos id ea placeat magni accusantium.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo molestiae, odit repellat totam quibusdam nesciunt architecto error rerum illo. Ullam alias, ex ratione commodi molestias perferendis. Minus voluptates enim unde.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>