<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/2280551/pexels-photo-2280551.jpeg?auto=compress&cs=tinysrgb&w=800">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,256</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED - DEC 14, 2023</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis vel autem tempore rerum odit adipisci illo totam delectus velit ipsam! Qui, architecto quis. Maiores fuga veritatis fugit! Dolor, voluptates delectus.

                        Heading 1
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel aliquid voluptatum ullam eaque, maiores rerum ipsum iure, delectus fugit mollitia et. Quidem modi veritatis, ea fugiat itaque nostrum eaque.

                        Heading 2
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel aliquid voluptatum ullam eaque, maiores rerum ipsum iure, delectus fugit mollitia et. Quidem modi veritatis, ea fugiat itaque nostrum eaque.
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
